* , #main{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.tokyoheader{
    font-size: 40px;
    text-align: center;
    background-color: tomato;
}

.alaskaheader{
    font-size: 40px;
    text-align: center;
    background-color: skyblue;

}

.europeheader{
    font-size: 40px;
    text-align: center;
    background-color:lightgreen;

}

.imgset{
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 15px;
    
}

.tokyoset > img{
    border: 3px solid tomato;
}

.alaskaset > img{
    border: 3px solid skyblue;
}

.europeset > img{
    border: 3px solid lightgreen;
}


.navigation{
    font-size: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    padding-top: 10px;

}

a {
    color: inherit;
}

a:link, a:visited {
    color: black;
  }
  
a.current0:link, a.current0:visited {
color: black;
background-color:lightgray;
border-radius: 5px;
text-transform: uppercase;
}
a.current1:link, a.current1:visited {
color: black;
background-color:tomato;
border-radius: 5px;
text-transform: uppercase;
}

a.current2:link, a.current2:visited {
    color: black;
    background-color:lightgreen;
    border-radius: 5px;
    text-transform: uppercase;
}

a.current3:link, a.current3:visited {
    color: black;
    background-color:skyblue;
    border-radius: 5px;
    text-transform: uppercase;
}
a.current4:link, a.current4:visited {
    color: black;
    background-color:lightgray;
    border-radius: 5px;
    text-transform: uppercase;
}

figcaption{
    text-align: center;
}

.indexset > img{
    border-left: 10px;
    border-right: 10px;
}

footer{
    text-align: center;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media screen and (min-width: 750px){


.tokyoset{
    display: flex;
    flex-wrap: wrap

}

.europeset{
    display: flex;
    flex-wrap: wrap
}

.alaskaset{
    display: flex;
    flex-wrap: wrap;
    
}

.indexset{
    display: flex;
    flex-wrap: wrap;

}

.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:10px;
    color: black;
    text-decoration-style: solid;
  }

}